.syntaxhighlighter {
    background-color: #262626;
    padding: 1rem;
    border-radius: 0.5rem;
    margin: 0.5rem 0;
    font-size: 0.875rem;
    line-height: 1.5;
    background-color: #262626;
}

.syntaxhighlighter pre {
    background-color: #262626;
}
